.add {
  position: absolute;
  right: 0;

  height: 250px;
  width: 450px;
  border: 1px dashed #000;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;

  &__button {
    border-radius: 4px;
    padding: 6px 8px; 
  }

  &__wrong {
    color: orangered;
  }
}